/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*CSS*/
* {
	font-family: 'Roboto', sans-serif;
}

/*clear default brawser css*/
html, body, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}

.cover {
	background: url("../images/bg.jpg");
	height: 100vh;
	background-size: cover;
	text-align: center;
}






