/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*CSS*/
* {
	font-family: 'Roboto', sans-serif;
}

/*clear default brawser css*/
html, body, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}

.cover {
	background: url("../images/bg.jpg");
	height: 100vh;
	background-size: cover;
	text-align: center;
}

.overlay {
	background: rgba(0,0,0, 0.3);
	width: 100%;
	height: 100%;
	text-align: center;

    box-sizing: border-box;
	position: : absolute;
	top: 0;
	padding-top: 90px;
}

/*change the profile picture here*/ 
.profile-img {
	background: url("../images/profile.jpg");
	background-size: cover;
	width: 300px;
	height: 300px;
	border: 5px solid rgb(255, 255, 255);
	margin: 0 auto;

	border-radius: 50%;
	box-shadow: 2px 2px 30px black;

	transition: 0.3s;
}

.profile-img:hover {
	transform: scale(1.05) translateY(-30px);
}

.menu {
	margin-top: 50px;
}

.menu ul {
	list-style-type: none;
}

.menu ul li {
	display: inline-block;
	padding: 17px;
	font-size: 23px;
	background-color: rgba(0,0,0, 0.3);
	border-radius: 20%;

	transition: 0.2s;
}

.menu ul li:hover {
	background-color: rgba(0,0,0, 0.8);
	transform: scale(1.05);
	padding: 17px 21px;
}

.container {
	margin: 0 auto;
	width: 800px;
	padding: 20px;
}

.about {
	background: #F1C40F;
	text-shadow: 1px 1px 2px black;
}

.videos {
	color: purple;
}

.contact {
	background-color: #8e44ad;
	text-shadow: 1px 1px 2px black;
}

.contact-width {
	width: 50%;
}

.footer {
	background-color: #73388c;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

.map {
	margin-top: 35px;
	margin-bottom: 20px;
}

.map iframe{
	width: 100%;
	height: 350px;
}







